.WordSquares {
    display: flex;
}

.letter {
    padding: 10px;
    margin: 5px !important;
    border: 1px solid black;
    font-size: 30px !important;
    width: 50px;
    text-align: center;
}


// .MuiTypography-root {
//     font-size: 30px;
//     margin: 5px;
// }